@font-face {
  font-family: Libertine;
  src: url("/fonts/LinLibertine_aS.ttf");
}

@font-face {
  font-family: Garamond;
  src: url("../fonts/LinLibertine_R.ttf");
}

@import "../../node_modules/reset.css/reset";

$gold-light: #ba9f61;
$gold-dark: #826d44;
$primary: #c1ad8b;
$info: $gold-dark;
$title-color: $gold-light;
$title-weight: 300;
$subtitle-color: $gold-light;
$link: white;

@import "../../node_modules/bulma/bulma";

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background-attachment: fixed;
  background-image: url("/img/background.png");
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  &.maill:after {
  content: "\0040" attr(data-domain);
  }
}

header {
  font-family: Libertine;

  a {
    transition: all 0.5s ease-in;

    &:hover, &:focus {
      text-shadow: -1px 1px 10px #ffc, 1px -1px 10px #fff;
    }
  }

  ul.is-narrow {
    &:before, &:after {
      content: " ";
      flex-grow: 3;
    }
  }
}
