@font-face {
  font-family: Libertine;
  src: url("/fonts/LinLibertine_aS.ttf");
}

@font-face {
  font-family: Garamond;
  src: url("/fonts/garamound.ttf");
}

@import "../../node_modules/reset.css/reset";
@import "../../node_modules/bulma/sass/utilities/functions";

$fullhd-enabled: false;

$section-padding: 2rem 1.5rem;

$gold: #826d44;
$gold-light: #ba9f61;

$primary: #c1ad8b;

$link: $gold;
$table-color: $gold;
$title-color: $gold-light;
$title-weight: 300;
$subtitle-color: $gold-light;

$family-primary: Libertine;
$family-secondary: Garamond;
$family-sans-serif: $family-secondary;

$custom-colors: (
  "gold": ($gold, findColorInvert($gold)),
);

@import "../../node_modules/bulma/bulma";

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background-attachment: fixed;
  background-image: url("/img/background.png");
  border: 0;
  margin: 0;
  padding: 0;

  font-family: Garamond;
}

a {
  &.maill{
    &:after {
      content: "\0040" attr(data-domain);
    }
  }
}

header {
  font-family: Libertine;

  a {
    color: white;
    transition: all 0.5s ease-in;

    &:hover, &:focus {
      text-shadow: -1px 1px 10px #ffc, 1px -1px 10px #fff;
    }
  }

  hr {
    background: url("/img/header.png");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    height: 0;
    margin: 0;
    margin-top: -30px;
    padding: 15px;
  }

  img {
    width: 100%;
  }
}

@include desktop {
  li.is-separator {
    flex-grow: 0 !important;

    &:before {
      content: '•';
      font-size: 1rem;
    }
  }
}

.is-narrow {
  &:before, &:after {
    content: " ";
    flex-grow: 3;
  }
}

p {
  padding: 0.7em;
}

#cookie-warning {
  @include desktop {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 35px;
    z-index: 2;
  }

  @include touch {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 2;
  }

  .is-invisible {
    display: none;
  }
}

table.table thead {
  td, th{
    color: $gold;
    font-weight: 600;
  }
}
