@font-face {
    font-family: Libertine;
    src: url("/fonts/LinLibertine_aS.ttf");
}

@font-face {
    font-family: Garamond;
    src: url("../fonts/LinLibertine_R.ttf");
}

body {
    background-attachment: fixed;
    background-image: url("/img/background300dpi.png");
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header, nav {
   font-family: Libertine;
}

li {
    list-style: none;
}

nav {
    background: #c1ad8b;
    color: #fff;
}

nav a {
    color: #fff;
    letter-spacing: 1px;
}

nav ul {
   padding-top: 25px;
   padding-bottom: 25px;
}

hr {
    background: url("/img/header300dpi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    height: 0;
    margin: -10px;
    padding: 10px;

}

ul {
    padding: 0;
    margin: 0;
}

.container {
    background: #fff;
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
}

.text {
    text-align: center;
}

.title {
    color: #ba9f61;
    font-size: xx-large;
}

.subtitle {
    color: #c1ad8b;
    display: inline;
    padding: 0;
}

.subtitle ul {
    margin: 10px;
}

.subtitle li, nav li {
    display: inline;
    font-size: medium;
    padding-right: 15px;
}

.display {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.display img {
    width: 100%;
}

.content {
    color: #826d44;
    font-family: Garamond;
    margin: 15px;
    padding: 10px;
}

.flat {
    padding-bottom: 0;
    margin-bottom: 0;
}
