@font-face {
  font-family: Libertine;
  src: url("/fonts/LinLibertine_aS.ttf");
}

@font-face {
  font-family: Garamond;
  src: url("../fonts/LinLibertine_R.ttf");
}

@import "../../node_modules/bulma/bulma.sass";


html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background-attachment: fixed;
  background-image: url("/img/background.png");
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in;
}

a:hover, a:focus {
  text-shadow: -1px 1px 10px #ffc, 1px -1px 10px #fff;
}

a.maill:after {
  content: "\0040" attr(data-domain);
}
