nav ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 30px 20px;
}

.subtitle ul li,nav ul li {
    display: list-item;
    padding-bottom: 5px;
    padding-top: 10px;
}

.subtitle ul li:after, nav ul li:after {
    content: none;
}
